<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootAdminApplication-1" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="springboot-admin" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.zalizniak.springbootadmin.SpringbootAdminApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>